html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e8e8f4;
}

/************* sidebar and menu***************/

button#sidebarCollapse {
  color: #0d578e;
  background-color: transparent;
  border-color: #0d578e;
}
.admin-img img {
  background: #ccc;
  border-radius: 50%;
}
.navbar-nav li.nav-item {
  font-size: 12px;
  color: #212121;
}
.navbar-nav .nav-link.admin-img {
  border-right: 2px solid #ccc;
  margin: 10px 0;
  margin-right: 40px;
  padding-right: 40px !important;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav {
  align-items: center;
}
nav.navbar.navbar-expand-lg {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #ffffff !important;
  box-shadow: 1px 0px 4px #ccc;
}
.project-page {
  display: flex;
  align-items: stretch;
  background: #e8e8f4;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 5px;
  background: #ffffff;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 0px 0px 20px 0px;
  /* border-bottom: 1px solid #47748b;  */
}

#sidebar ul li a {
  padding: 10px;
  font-size: 14px;
  display: block;
  color: #212121;
  padding-left: 20px;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
  text-decoration: none;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

@media (min-width: 768px) {
  nav.navbar.navbar-expand-lg {
    padding-top: 2px;
    padding-bottom: 2px;
    background: #ffffff !important;
    box-shadow: 1px 0px 4px #ccc;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: 150px;
    z-index: 1;
  }
  /* app-invoice,
  app-projects,
  app-display,
  app-project-milestone,
  app-project-milestone-payments,
  app-currency-rate,
  app-client {
    margin-left: 150px;
  } */
  #sidebar {
    min-width: 150px;
    max-width: 150px;
    position: fixed;
  }
  #sidebarCollapse {
    display: none;
  }
  .main-content {
    margin-top: 68px;
  }
}

/****************************/
